.header
    width: 100%
    height: 120px
    background: url(../img/border_header_and_footer.png) no-repeat center 118px, $bg_header_footer
    @extend %clearfix
    padding-top: 35px
    margin-bottom: 40px

    @include tablets
        padding-top: 45px


.header__logo
    float: left
    margin-top: -25px

.header__right
    float: right
    transition:  margin-right 0.4s ease-in-out;

.header__social 
    float: left

    @include tablets
        margin-right: 50px

    @include phones
        display: none

.social__list
    font-size: 0  

.social__item
    display: inline-block
    vertical-align: top

    margin-left: 24px

    &:first-child
        margin-left: 0

    .social__link 
        display: block
        width: 47px
        height: 47px
        background: url(../img/sprite/social_sprite.png)
        
        &_vk
            background-position: -10px -77px

            &:hover 
                background-position: -76px -77px

        &_git
            background-position: -10px -10px

            &:hover 
                background-position: -77px -10px

.header__menu_tablets
    display: none

    @include tablets
        display: block
        margin-top: 10px
        width: 25px
        height: 21px
        //background: url(../img/menu_tablet.png)
        float: right

        @include phones
        margin-top: 2px

.menu-btn
    @include tablets
        width: 100%
        height: 100%
        display: block
        background: url(../img/menu_tablet.png)